.filter-bar {
  mat-form-field {
    margin-right: 20px;
  }
}

table {
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin-right: 10px;
    background: red;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
